html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div, table{
  margin: 0;
  padding: 0;
}

.body {
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
    background-color: rgb(238, 236, 236);
  }

  .copy-container {
    padding:20px 40px;
    background-color: white;
    margin: 100px; /* 上下左右に20pxの余白 */
  }

  .copy-container h1 {
    font-size:30px;
  }

  .button-form {
    margin-top: 20px; /* ボタンフォームの上部の余白 */
    padding:20px 40px;
}
  
  .button {
    font-size:25px;
    color:#000304;
    background-color:#dee7ec;
  }

  .button:hover {
    background-color: #fafaf8;
}

.message {
  font-size:25px;
  color:#000304;
  margin-top: 20px; 
  padding:20px 40px;
}

#dataDisplay{
  font-size:25px;
  color:#000304;
  margin-top: 20px; 
  padding:20px 40px;
}

#loading {
  display: none;
  border: 16px solid #f3f3f3; /* 外枠の色 */
  border-top: 16px solid #3498db; /* 上側のボーダーの色 */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  text-align: center;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.my-custom-table th, .my-custom-table td {
  text-align: center; /* 文字を中央揃え */
  padding: 100px 100px;
}

.h1 {
  text-align: center;
}

.meal-table {
  overflow: auto; /* スクロールを自動にする */
  width: 100%; /* 幅を100%にして、親要素に合わせる */
  max-width: 1500px; /* 最大幅を指定する */
  height: 70vh; /* 高さをビューポートの70%にする */
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid lightgray; /* 枠線を追加 */
  margin: 0 auto;
  display: none;
}

.class-1 {
  width: 80%;
}

.class-2 {
  width: 20%;
}